:global(.popOutLogin){
    animation: popOut 0.5s ease-out 1s both;
}

.profilePictureContainer{
    width: 15vw;
    height: 15vw;
}

.profilePicture{
    object-fit: cover;
}

@keyframes popOut {
    from{
        scale: 0;
    }
    to{
        scale: 1;
    }
}

@media only screen and (max-width: 575px){
    .profilePictureContainer{
    width: 40vw;
    height: 40vw;
    }

}